body {
    margin: 0;
    height: 100vh;           
    display: flex;
    justify-content: center;
    align-items: center;
}

#game{
    position: absolute;
    z-index: -5;
}

#score{
    position: fixed;
    top: 20px;
    left:20px
}

#lifes{
    position: fixed;
    top: 10px;
    left:1800px
}

#resetButton{
    position: fixed;
    top: 800px;
    left:800px
}
